@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root{
    --font-family: 'Raleway', sans-serif;
    --bg-color: #212A3E;
    --primary-color: #F1F6F9;
   
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1{
    font-size: 4.5em;
}

h2{
    font-size: 4em;
}

h3{
    font-size: 2.5em;
    margin-top: 20px;
}

.mensagem{
    font-size: 1.5rem;
    margin-top: 40px;
}

.box{
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 6em;
    padding: 10px 15px;
    margin: 20px;
}

.btn-jogar{
    padding: 8px 15px;
    border: 0;
    background: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;

}
